{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% if exists == True %}
                {% for news in news_list %}

                <div class="border border-secondary rounded p-4 mb-4" style="background-color: rgb(245, 247, 247);">
                    <h1 class="display-3 text-center">{{news.title}}</h1>
                    <p style="font-size: 0.7em;">-{{news.date_posted}}</p>
                    {{news.content|safe}}

                </div>

                {% endfor %}
            {% else %}

                <div class="display-4">
                    <h1>There are no News Yet</h1>
                </div>

            {% endif %}
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}